<p><span style=\"font-family:arial,helvetica,sans-serif\"><strong>a.- Variación de calados por consumo desde TK
            2</strong></span><span style=\"font-family:arial,helvetica,sans-serif\">                                 
        <strong>                                                             </strong></span></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\"><strong>Disminución pareja  -
                H</strong> = <u>  w<sub>1</sub>  </u>     = <u> 22  </u>     <strong> =   - 0,010 m
                       </strong>                         </span></span></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span
            style=\"font-size:12px\">                                               TPC          22</span></span></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\">&Delta;t      =      <u> 
                w<sub>1</sub> * d   </u>  = <u>22 * 10,8</u>  = 0,020 m</span></span> hacia popa</p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\">                     MCT1      
                 120</span></span></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\">&Delta;t pp = <u>0,020 * 73,2
            </u><strong>=  + 0,010</strong></span></span></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\">                 
            150</span></span></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\">&Delta;t pr  = <u>0,020 *
                76,8</u> <strong>=   - 0,010              </strong>                                 </span></span></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\">                 
            150</span></span><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\">
                                    </span></span></p>
<table border=\"1\" cellpadding=\"1\" cellspacing=\"1\" style=\"height:230px; width:541px\">
    <tbody>
        <tr>
            <td> </td>
            <td>Proa (m)</td>
            <td>Popa (m)</td>
        </tr>
        <tr>
            <td><strong>Calados iniciales</strong></td>
            <td><strong>  6,100</strong></td>
            <td><strong>  8,000</strong></td>
        </tr>
        <tr>
            <td>Disminución pareja por consumos TK 2</td>
            <td> -0,010</td>
            <td> -0,010</td>
        </tr>
        <tr>
            <td>Cambio de asiento por consumo TK2</td>
            <td> -0,010</td>
            <td>+0,010</td>
        </tr>
        <tr>
            <td>Calados después de consumos desde TK2</td>
            <td><strong>  6,080</strong></td>
            <td><strong>  8,000</strong></td>
        </tr>
    </tbody>
</table>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\"><strong>b.- Variación de
                calados por lastre FP</strong></span></span></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\"><strong>Aumento
                parejo</strong>  <strong>+ H</strong> = <u> w</u><sub>2</sub>     = <u> w<sub>2</sub></u></span></span>
</p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\">                        
                            TPC       22</span></span></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\"><strong>c.-Reducción necesaria
                de calado a popa    =  <u>  w<sub>2</sub></u>       +    70,0</strong></span></span></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\"><strong>   
                                                                                        22  </strong></span></span></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span
            style=\"font-size:12px\"><strong>   </strong>  </span></span><span
        style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\"> &Delta;t  =<u> w<sub>2</sub> *
                73,8 </u></span></span></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\">                  
            120</span></span></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\"><strong>&Delta;t pp =
                <u>w<sub>2</sub> * 73,8</u>   *  <u>73,2</u>   = 0,300 w<sub>2</sub></strong></span></span></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\"><strong>                   120
                        150</strong></span></span></p>
<p><strong>d.- Cantidad de lastre necesario.</strong></p>
<p><strong><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\"><u> w<sub>2</sub>  </u>
                + 70,0       = 0,300 w<sub>2</sub></span></span></strong></p>
<p><strong><span style=\"font-family:arial,helvetica,sans-serif\"><span
                style=\"font-size:12px\"> 22</span></span></strong></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\">w<sub>2</sub>   + 1540,0      
            =    6,6 w</span></span><sub>2</sub></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\">         5,6 w<sub>2</sub>
                     =  1540,0      </span></span></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\">          <strong>
                w<sub>2</sub>            =   275 T</strong></span></span></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\"><strong>e.- Cálculo de los
                calados finales.</strong></span></span></p>
<p><strong><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\">Hundimiento parejo + H
                =<u> 275</u>  =+ 12,5 cm</span></span></strong></p>
<p><strong><span style=\"font-family:arial,helvetica,sans-serif\"><span
                style=\"font-size:12px\">                                             22   </span></span></strong></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\"><strong>&Delta;t       =<u> 275
                    * 73,8</u>    = 169,1 cm hacia proa   </strong></span></span></p>
<p>                <strong>  120</strong></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\"><strong>&Delta;t pr  = <u>169.1
                    * 76,8  </u>=   + 86,6 cm   </strong></span></span></p>
<p>                <strong>  150</strong></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\"><strong>&Delta;t pp =<u> 169,1
                    * 73,2  </u>=    - 82,5 cm</strong></span></span></p>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\">         <strong>           150
            </strong></span></span></p>
<table border=\"1\" cellpadding=\"1\" cellspacing=\"1\" style=\"height:230px; width:541px\">
    <tbody>
        <tr>
            <td> </td>
            <td>Proa (m)</td>
            <td>Popa (m)</td>
        </tr>
        <tr>
            <td>Calados después de consumos desde TK2</td>
            <td>  6,080</td>
            <td>  8,000</td>
        </tr>
        <tr>
            <td>Hundimiento parejo por lastre FP</td>
            <td>+0,125</td>
            <td>+0,125</td>
        </tr>
        <tr>
            <td>Cambio de asiento por lastre FP</td>
            <td>+0,866</td>
            <td> -0,825</td>
        </tr>
        <tr>
            <td><strong>Calados finales</strong></td>
            <td><strong>  7,071</strong></td>
            <td><strong>  7,300</strong></td>
        </tr>
    </tbody>
</table>
<p><span style=\"font-family:arial,helvetica,sans-serif\"><span style=\"font-size:12px\"><strong>    
            </strong></span></span></p>
<p><strong><span style=\"font-family:arial,helvetica,sans-serif\"><span
                style=\"font-size:12px\">    </span></span></strong></p>